# Virtual environments
.venv/
venv/
env/
.env/

# FFmpeg binaries
bin/
*.exe

# Python cache
__pycache__/
*.pyc


# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Dataset folders
data/
datasets/

# System files
.DS_Store